<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Document</title>
</head>
<header>
    <h1> <i class="fa fa-picture-o" aria-hidden="true"></i> VUE SLIDER</h1>
</header>

<body>
    <main id="vueContainer" v-on:keyup.right="changeImgPlus" v-on:keyup.left="changeImgMinus" tabindex=-1>
        <div class="carousel wrap">
            <i @click="changeImgMinus" class="fa fa-chevron-left" aria-hidden="true"></i>
            <div class="img-container">
                <img :src="'img/'+imgs[activeImg]" class="opacity" :class='animation' alt="" id=img-id>
                <div class="dots-container">
                    <a v-for="(item, index) in imgs" @click="setActiveImg(index)" ><div class="dot" :class="{'active' : activeImg == index}" ></div></a>
                </div>
                <div class="play-container">
                    <div v-on:click="autoPlay(); showPause()" v-if="isPlay" class="auto-play">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </div>
                    <div v-on:click="stop(); showPlay()" v-if="isPause" class="auto-play">
                        <i class="fa fa-pause" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <i @click="changeImgPlus" class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="text-center">
        </div>

    </main>
</body>

</html>