*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body{
    background-color: #161616;
}

h1{
    color: white;
}
section{
    padding: 50px;
}
.carousel i{
    cursor: pointer;
    padding: 50px;
    font-size: 40px;
    color: #dadada;
}
.wrap{
    margin: auto;
}
.carousel{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dots-container{
    min-width: 10px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #0000006e;
    border-radius: 25px;
    padding: 10px;
    display: flex;
}
.dots-container a{
    padding: 7px;

}
.img-container{
    position: relative;
    width: 100%;
    height: 1800px;
    max-height: calc(100vh - 100px);
}
.img-container img{
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dot{
    background-color: #d4d4d4;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    margin: 0px 15px;
    cursor: pointer;
}
.active{
    background-color: #5670e2;
}
.opacity{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.animation{
    opacity: 0;
}
.text-center{
    text-align: center;
}
.auto-play{
    cursor: pointer;
    transform: scale(1.0,1.0);
    opacity: 1;
    transition: transform 0.1s linear, opacity 0.1s ease-out ;
    filter: drop-shadow(2px 2px 5px #ffffffa2);
}
.auto-play:active {
   transform: scale(2,2);
   opacity: 0;
}
.carousel .img-container i{
    cursor: pointer;
    padding: 10px;
    font-size:25px;
    color: #ffffff;
}
.play-container{
    color: white;
    position: absolute;
    left: 10px;
    bottom:10px;

}
.play-container div{
    display: inline-block;
}
/* RESPONSIVENESS */
@media screen and (min-width:900px) {
    
}
@media screen and (max-width:1200px) {
    .img-container{
        height: 500px;
    }
}
@media screen and (max-width:900px) {
    .img-container{
        height: 300px;
    }
    .carousel i{
        padding: 30px;

    }
}
@media screen and (max-width:700px) {
    .img-container{
        height: 250px;
    }
    .dot{
        width: 10px;
        height: 10px;
        margin: 0px 5px;
    }
    .dots-container a{
        padding: 1px;
    }
    .carousel i{
        padding: 20px;

    }
}
@media screen and (max-width:500px) {
    .img-container{
        height: 200px;
    }
    .play-container{
        bottom: auto;
        top: 5%;
    }
    .carousel i{
        padding: 10px;

    }
}
}
