*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 10px;
    background-color: #222222;
}
h1{
    color: white;
}
.carousel i{
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
    color: #626262;
}
.wrap{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.carousel{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dots-container{
    min-width: 10px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #0000006c;
    border-radius: 25px;
    padding: 10px;
    display: flex;
}
.img-container{
    position: relative;
    width: 1200px;
    height: 700px;
}
.img-container img{
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dot{
    background-color: #d4d4d4;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0px 5px;
}
.active{
    background-color: blue;
}
.opacity{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.animation{
    opacity: 0;
}
.animation2{
    transform: scale(1.4,1.4);
}
.text-center{
    text-align: center;
}
.auto-play{
    cursor: pointer;
    transform: scale(1.0,1.0);
    opacity: 1;
    transition: transform 0.1s linear, opacity 0.1s ease-out ;
    filter: drop-shadow(2px 2px 5px #ffffffa2);
}
.auto-play:active {
   transform: scale(2,2);
   opacity: 0;
}
.carousel .img-container i{
    cursor: pointer;
    padding: 10px;
    font-size:25px;
    color: #ffffff;
}
.play-container{
    color: white;
    position: absolute;
    left: 10px;
    bottom:10px;

}
.play-container div{
    display: inline-block;
}
/* RESPONSIVENESS */
@media screen and (max-width:900px) {
    .img-container{
        height: 300px;
    }
}
@media screen and (max-width:700px) {
    .img-container{
        height: 250px;
    }
}
@media screen and (max-width:500px) {
    .img-container{
        height: 200px;
    }
    .play-container{
        bottom: auto;
        top: 5%;
    }
}
